header {
	text-align: center;
}


ul span{
        list-style-type: none;
        margin: 0; /*sets all the margin properties*/
        background-color: blue;
        width: 100%
    }

.center{
	text-align: center;
	background-color: #f0f1f1;
	padding: 5px 0;
	margin: 10px 0;
}

.column{
	text-align: center;
	padding: 5px 0;
	margin: 10px 0;
	width: 100%;
}



td {
	background-color: #f0f1f1;
	width: 30%;
	padding: 20px;
}

td.two{
	margin: 20px;

}

footer{
	text-align: center;
	background-color: #f0f1f1;
}