header {
	text-align: center;
}

ul {
	text-align: center;
    list-style-type: none;
    margin: 20px 0;
    background-color: #f0f1f1;
    padding: 20px 0;
}

ul li {
	display: inline;
}

li a {
	color: grey;
	padding: 0 10px;
}


.center, footer {
	text-align: center;
	background-color: #f0f1f1;
	padding: 5px 0;
	margin: 20px 0;
}

.row {
	display: table;
	text-align: center;
	padding: 5px 0;
	width: 100%;
}

#middle {
	border-left: white solid 20px;
	border-right: white solid 20px;
}

.column {
	display: table-cell;
	background-color: #f0f1f1;
	padding: 20px;
	width: 33%;

}

footer{
	text-align: center;
	background-color: #f0f1f1;
}